<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>

</head>
<body>

<div class="main">
	 <% if (!user) { %>
		 <p>Welcome! Please <a href="/login">log in</a>.</p>
</div>

<% } else { %>
<div class="sidenav">
	<stats>
		Health: <%= user.health %>
		Stamina: <%= user.stamina %>
	</stats>
  <a href="/profile">Profile</a>
  <a href="/mines">Mines</a>
  <a href="/logout">Log out</a>
</div>
<% } %>


</body>
</html>
